<div class="form-iterm">
  <%= simple_form_for @food_item do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.association :section %>
  <%= f.input :image_link %>

  <%= f.submit class: 'btn'%>
  <% end %>
</div>