<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag @food_item.image_link %>
        <span class="card-title"><%= @food_item.name %></span>
      </div>
      <div class="card-content">
        <p>
          <%= simple_format(@food_item.description) %>
        </p>
      </div>
      <div class="card-action">
      <p>Score: <strong class="orange-text"><%= @food_item.average_review_score %>/5</strong></p>
        <p>Pice: <strong class="orange-text"><%= @food_item.price %>  VND</strong></p>
        <p class="chip"><%= pluralize @food_item.impression_count, 'view' %></p>
        <%= render 'order_items/form', food_item: @food_item %>
      </div>
    </div>
  </div>
  <div class="col m5">
    <div id="reviews">
      <div class="review-form">
        <h5>Reviews</h5>
        <% if user_signed_in? %>
          <%= render 'reviews/form' %>  
        <% else %>
          <%= link_to "Sign in to create reviews", new_user_session_path, class: "btn" %>
        <% end %>
      </div>
      <div class="divider"></div>
      <h5 class="center">Reviews list</h5>
      <div id="list-reviews">
        <%= render @food_item.reviews %>
        <p class="This food item have not reviewed yet"></p>
      </div>
    </div>
  </div>
</div>
