<%= f.simple_fields_for :order_items do |builder| %>
  <tr>
    <td><%= builder.input :name, disabled: true%></td>
    <td class="item-price">
      <%= builder.input :unit_price, disabled: true %>
    </td>
    <td>
      <%= builder.input :quantity %>
    </td>
    <td class="total-item-price"><%= builder.input :total_price, disabled:true %></td>
    <td>
      <%= link_to '#', class: 'remove-fields tooltipped',
       data: { position: 'bottom', delay: 10, tooltip: "Delete" } do %>
        <i class="material-icons red-text">close</i>
      <% end %>
      <%= builder.input :_destroy, as: :hidden %>
    </td>
  </tr>
<% end %>