<nav class="nav-extended">
  <div class="nav-wrapper">
    <%= link_to "RB Restaurant", root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <%= link_to "Menu", menu_path(section: 'Lunch') %>
        </li>
        <li>
          <%= link_to "Contact", contact_path %>
        </li>
        <% unless current_order.order_items.blank? %>
          <li>
            <%= link_to orders_path do %>
              Your Orders
              <span class="new badge"><%= current_order.order_items.size %></span>
            <% end %>
          </li>
        <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li> 
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li> 
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>